


<div class = "container">

	<div class="row"> 
		<h1>Welcome, {{data.name}}</h1>
		<div class = "row home-info-bar">
			<div class = "col-md-4 update-form">
				<div class = "basic-info-form">
					<form action="/applicant/update-basic-info" method="POST">
					<h3>Update Basic Information: </h3>
					<h5> Anonymous Username: <input type="text" name="username" value="{{data.username}}"> </h5>
					<p class = "detail"> Don't use your real name or other identifying information!</p>
					<h5> Public Bio: <input type="text" name="name" value="{{data.name}}"> </h5>
					<h5> Email: <input type="text" name="email" value="{{data.email}}"> </h5>
					<h5> Location: <input type="text" name="location" value="{{data.location}}"> </h5>
					<button type="submit" class="btn btn-md btn-default">Update</button>

					</form>


				</div>
			</div>

			<div class = "col-md-3">
				<div>
				{{#if data.img}}
					<img class="profile-img" src="/uploads/images/{{data.img}}">
				{{/if}}
				</div>
									<form action="/applicant/update-image" method="POST" enctype="multipart/form-data">
						<h3>Upload an image</h3>
						<input type="file" name="img" value="{{data.img}}"> 
					<button type="submit" class="btn btn-md btn-default">Upload</button>
					</form>
			</div>

			<div class = "col-md-5 placeholder">
				<div>
					<h3>Public Bio:</h3>
					<form action="/applicant/update-public-bio" method="POST">
					<textarea name = "info">{{{data.info}}}
					</textarea>
					<button type="submit" class="btn btn-md btn-default">Update</button>
					<a href="/applicant/public/{{data.id}}"><button type="submit" class="btn btn-md btn-default">View</button></a>
					</form>
				</div>
			</div>
		</div>
	<br>


	<hr>
	
	<div class = "row">
		<div class = "col-md-4">
			<h2>Anonymous Profile</h2> 
		</div>
		<div class = "col-md-4"> 
		</div>
		<div class = "col-md-4">
			<a href="/credential/applicant/{{data.username}}" ><button class = "btn btn-default">View</button></a>
		</div>
	</div>
	

		{{#each section_creds}}

		<div class = "row section-title">
			<h3>{{section_name}}</h3>
		</div>

		<div class = "row credential-tiles-container">
			
			{{#each creds}}

			<div class = "col-md-3 credential-tile" id="ct{{id}}">
				<h3>{{heading}}</h3>
				<h5>{{subheading}}</h5>

			<div type="button" data-toggle="modal" data-target="#credModal{{id}}">
			
			<span class="corner-icon glyphicon glyphicon-pencil"></span>
			</div>
			</div>

		

			{{/each}}
		</div>
		<div class="row">
		
			<div class = "col-md-3">
				<div type="button" data-toggle="modal" data-target="#ModalNew{{section_name}}">
					<span class="giant-icon glyphicon glyphicon-plus-sign"></span>
				</div>
			</div>
		</div>
			
		{{/each}}

	</div>
	<div class = "row">
		<button class="btn btn-md btn-default" data-toggle="modal" data-target="#NewSection"> Add A New Section </button>
	</div>

	<!-- MODALS -->
{{#each section_creds}}
	{{#each creds}}
		<div id="credModal{{id}}" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <form action="/credential/delete/{{id}}" method="POST">
		  			<input type="submit" class= "btn btn-primary" value="Delete Credential">
				</form>	
		      <form action="/credential/update" method="POST">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
						<input class = "heading-input" type="text" name = "heading" value="{{heading}}">
						<br>
						<input class = "subheading-input" type="text" name = "subheading" value="{{subheading}}">
						<input type="hidden" name = "id" value="{{id}}">
			      </div>
			      <div class="modal-body">
			      <textarea name="details">{{{details}}}
			      </textarea>
			      </div>
			    
		      <div class="modal-footer">
		      	<span>
			  	
				        <button class = "tile-save" type="submit">
					        <span class= "glyphicon glyphicon-floppy-disk">
					        	<p class="tiny-text">SAVE</p>
					        </span>
				        </button> 
				    </form>
				    	<form class = "tile-delete-form" action="/credential/delete/{{id}}" method="POST">
							<button class = "tile-delete" type="submit">
								<span class= "glyphicon glyphicon-trash">
									<p class="tiny-text">DELETE</p>
								</span>
							</button>
						</form>
				</span>



		      </form>
		      </div>
		    </div>

		  </div>
		</div>
	{{/each}}
{{/each}}

{{#each section_creds}}
<div id="ModalNew{{section_name}}" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		      <form action="/credential/new" method="POST">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
						<input class = "heading-input" type="text" name = "heading" value="Your {{section_name}} Credential Here">
						<br>
						<input class = "subheading-input" type="text" name = "subheading" value="Role, Title, Company, Project, School, etc Here">
			      </div>
			      <div class="modal-body">
			      <textarea name="details">Resume-style bullets, excerpts of your work, links to projects, publications or awards, etc 
			      </textarea>
			      <input type="hidden" name = "section_name" value="{{section_name}}">
			      <input type="hidden" name = "user_id" value="{{../data.id}}">
			      </div>
			    
		      <div class="modal-footer">
		      	<span>
			  	
				        <button class = "tile-save" type="submit">
					        <span class= "glyphicon glyphicon-floppy-disk">
					        	<p class="tiny-text">SAVE</p>
					        </span>
				        </button> 
				    </form>
				    	<form class = "tile-delete-form" action="/credential/delete/{{id}}" method="POST">
							<button class = "tile-delete" type="submit">
								<span class= "glyphicon glyphicon-trash">
									<p class="tiny-text">DELETE</p>
								</span>
							</button>
						</form>
				</span>
		      </div>
		    </div>

		  </div>
		</div>
{{/each}}

<div id="NewSection" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		      <form action="/credential/new" method="POST">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        		Section Name: <input name = "section_name" value="{{section_name}}">
		        		<br>
						<input class = "heading-input" type="text" name = "heading" value="Your {{section_name}} Credential Here">
						<br>
						<input class = "subheading-input" type="text" name = "subheading" value="Role, Title, Company, Project, School, etc Here">
			      </div>
			      <div class="modal-body">
			      <textarea name="details">Resume-style bullets, excerpts of your work, links to projects, publications or awards, etc 
			      </textarea>
			      <input type="hidden" name = "user_id" value="{{data.id}}">
			      </div>
			    
		      <div class="modal-footer">
		      	<span>
			  	
				        <button class = "tile-save" type="submit">
					        <span class= "glyphicon glyphicon-floppy-disk">
					        	<p class="tiny-text">SAVE</p>
					        </span>
				        </button> 
				    </form>
				    	<form class = "tile-delete-form" action="/credential/delete/{{id}}" method="POST">
							<button class = "tile-delete" type="submit">
								<span class= "glyphicon glyphicon-trash">
									<p class="tiny-text">DELETE</p>
								</span>
							</button>
						</form>
				</span>
		      </form>
		      </div>
		    </div>

		  </div>
		</div>

