
<div class="container">
	<div class = "row"> 
		
		<div class="col-md-4">
			<h1>{{data.name}}</h1>
			{{#if data.img}}
			<img src="/uploads/images/{{data.img}}"> 
			{{/if}}
			<br>
			<button recipient-id="{{data.id}}" is-anonymous="false" convo-title = " reached out to {{data.name}}" class="start-convo btn btn-large btn-default">Start A Conversation</button>

		</div>
		<div class="public-bio col-md-7">
			{{#if data.info}}
			{{{findLineBreaks data.info}}}
			{{/if}}
		</div>