<div class = "container">

	<div class="row">
		<div class = "col-md-4">
			<h1>{{data.username}}</h1>
		</div>
		<div class = "col-md-4">
			<button class="btn btn-large">Start A Conversation</button>
		</div>


	</div>
<!-- 	<div class="row">  -->

		{{#each section_creds}}

		<div class = "row section-title">
			<h2>{{section_name}}</h2>
		</div>

		<div class = "row credential-tiles-container">
			
			{{#each creds}}

			<div class = "col-md-3 credential-tile" id="ct{{id}}">
				<h4>{{heading}}</h4>
				<h5>{{subheading}}</h5>

				<div type="button" data-toggle="modal" data-target="#credModalApplicant{{id}}">
				
				<span class="corner-icon glyphicon glyphicon-resize-full"></span>
				</div>
			</div>

			{{/each}}
		</div>
		{{/each}}
	<!-- </div> -->
	
</div>
	
{{#each section_creds}}
	{{#each creds}}
		<div id="credModalApplicant{{id}}" class="modal fade" role="dialog">

		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3>{{heading}}</h3>
						<h4>{{subheading}}</h4>
			   </div>
			   <div class="modal-body">
			      {{{details}}}
			   </div>
			

		    <div class="modal-footer">
		        <button type="submit" class="btn btn-danger">Save</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      	</form>
		    </div>
			</div>
		  </div>

		</div>
	{{/each}}
{{/each}}

