<div class = "container">
 	<div class="row"> 
		<h1>Welcome, {{name}}</h1>
	</div>
	<div class = "row">
		<div class = "col-md-4">
			<div class = "basic-info-form">
				<form action="/applicant/update-basic-info" method="POST">
					<h4>Update Basic Information: </h4>
					<h5> User Name: <input type="text" name="name" value="{{name}}"> </h5>
					<p class = "detail"> Don't use your real name or other identifying information!</p>
					<h5> Email: <input type="text" name="email" value="{{email}}"> </h5>
					<h5> Location: <input type="text" name="location" value="{{location}}"> </h5>
					<button type="submit" class="btn-danger">UPDATE</button>
				</form>
			</div>
		</div>

		<div class = "col-md-3">
			<div>
				<img src="{{img}}">
			</div>
		</div>

		<div class = "col-md-5 placeholder">
			<div>
				Notifications? 
			</div>
		</div>
	</div>





	<div class = "row section-title">
		<h3>Your Job Listings </h3>
	</div>
	<div class = "row job-tiles-container">
		
		{{#each Jobs}}

		<div class = "col-md-3 job-tile" id="jt{{id}}">
			<h4>{{title}}</h4>
			<h5>{{location}}</h5>

			<div type="button" data-toggle="modal" data-target="#jobModal{{id}}">
		
			<span class="corner-icon glyphicon glyphicon-pencil"></span>
		</div>
		</div>
		{{/each}}

		<div class = "col-md-3 job-tile" id="new-job-tile">
				<div class = "col-md-3 credential-tile">
					<div type="button" data-toggle="modal" data-target="#ModalNew{{section_name}}">
						<span class="giant-icon glyphicon glyphicon-plus-sign"></span>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

{{#each Jobs}}
<div id="jobModal{{id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <form action="/job/update" method="POST">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
				<input class = "title-input" type="text" name = "title" value="{{title}}">
				<br>
				<input class = "location-input" type="text" name = "location" value="{{location}}">
				<input type="hidden" name = "id" value="{{id}}">
	      </div>
	      <div class="modal-body">
	      Description: <textarea name="description">{{{description}}}
	      </textarea>
	      Responsibilities: <textarea name="responsibilities">{{{responsibilities }}}
	      </textarea>
	      Qualifications: <textarea name="qualifications">{{{qualifications }}}
	      </textarea>
	      </div>
	    
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </form>
      </div>
    </div>

  </div>
</div>
		
{{/each}}

<div id="jobModalNew" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		      <form action="/credential/new" method="POST">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
						<input class = "title-input" type="text" name = "title" value="Role Here">
						<br>
						<input class = "location-input" type="text" name = "location" value="Location Here">
			      </div>
			      <div class="modal-body">
			   	<textarea name="description">Role description here
			    </textarea>
		        <textarea name="responsibilities">Role responsibilities here 
			    </textarea>
		        <textarea name="qualifications">Role qualifications here 
			    </textarea>
			    <input type="hidden" name = "company_id" value="{{company_id}}">
			    <input type="hidden" name = "industry_id" value="{{industry_id}}">
			    </div>
			    
		      <div class="modal-footer">
		        <button type="submit" class="btn btn-danger">Save</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </form>
		      </div>
		    </div>

		  </div>
		</div>


