<div class = "container">
	<h1>{{data.name}}</h1>
	
	<div class="row">
		<div class = "col-md-4">
			<img src="{{data.User.img}}">
		</div>
		<div class = "col-md-8">
			<div class="comp-bio">{{data.User.info}}</div>

			<button recipient-id="{{data.id}}" is-anonymous="true" convo-title = " wants to learn more about {{data.name}}" class="start-convo btn btn-large btn-default">Contact {{data.name}}</button>

		</div>
	</div>


	<div class="row">
		<div class = "col-md-12">
			<h2>Open Positions At {{data.name}}</h2>
		</div>
	</div>
<!-- 	<div class="row">  -->
<div class = "row job-tiles-container">
		
		{{#each data.Jobs}}

		<div class = "col-md-3 job-tile" id="jt{{id}}">
			<h4>{{title}}</h4>
			<h5>{{location}}</h5>

			<div type="button" data-toggle="modal" data-target="#jobModal{{id}}">
		
			<span class="corner-icon glyphicon glyphicon-resize-full"></span>
		</div>
		</div>
		{{/each}}

	</div>
	<!-- </div> -->
	
</div>
	

	{{#each data.Jobs}}
		<div id="jobModal{{id}}" class="modal fade" role="dialog">

		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3>{{title}}</h3>
						<h4>{{location}}</h4>
			   </div>
			   <div class="modal-body">
			        <h6>Description:</h6>
			        {{#if description}}
			        <div>{{{findLineBreaks description}}} </div>
			        {{/if}}
			        <br>
			        <h6>Responsibilities:</h6>
			        {{#if description}}
			        <div> {{{findLineBreaks responsibilities}}} </div>
			        {{/if}}
			        <br>
			        <h6>Qualifications: </h6>
			        {{#if qualifications}}
			        <div>{{{findLineBreaks qualifications}}} </div>
			        {{/if}}
			        <br>
			        </div>
			

		    <div class="modal-footer">
		        <button type="submit" is-anonymous="true" convo-title = " is interested in a position: {{title}}" class="start-convo btn btn-large btn-danger">Contact {{../data.name}} About This Position</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
			</div>
		  </div>

		</div>
	{{/each}}