<div class = "container">
 	<div class="row"> 
		<h1>Welcome, {{user.username}}</h1>
	</div>
	<div class = "row">
		<div class = "col-md-4">
			<div class = "basic-info-form">
				<form action="/employer/update-basic-info" method="POST">
					<h3>Company Account: </h4>
					<h5> Company Name: <input type="text" name="name" value="{{user.name}}"> </h5>
					<h5> Account Owner Name: <input type="text" name="username" value="{{user.username}}"> </h5>
					<h5> Account Owner Email: <input type="text" name="email" value="{{user.email}}"> </h5>
					<h5> Location: <input type="text" name="location" value="{{user.location}}"> </h5>
					<button type="submit" class="btn btn-md btn-primary">UPDATE</button>
				</form>

				<form action="/employer/update-image" method="POST" enctype="multipart/form-data">
v
					<input type="file" name="img" value="{{user.img}}"> 
					<button type="submit" class="btn btn-md btn-default">UPDATE</button>
				</form>
			</div>
		</div>

		<div class = "col-md-3">
			<div>
			{{#if user.img}}
				<img src="/uploads/images/{{user.img}}">
			{{/if}}
			</div>
		</div>

		<div class = "col-md-5 placeholder">
				<div>
					<h3>Company Bio:</h3>
					<form action="/employer/update-public-bio" method="POST"><textarea name = "info">{{#if user.info}}{{{user.info}}}{{else}}Share a short blurb about {{user.name}}...{{/if}}</textarea>
					<button type="submit" class="btn btn-md btn-primary">UPDATE</button>
					</form>
				</div>
			</div>
	</div>





	<div class = "row">
		<div class = "col-md-4">
			<h2>Job Listings at {{user.username}}</h2> 
		</div>
		<div class = "col-md-4">
			<button class = "btn btn-lg"> <a href="/job/company/{{data.id}}">View Company Page</a> </button>
		</div>
		<div class = "col-md-4">
		</div>
	</div>

	<div class = "row job-tiles-container">
		
		{{#each data.Jobs}}

		<div class = "col-md-3 job-tile" id="jt{{id}}">
			<h4>{{title}}</h4>
			<h5>{{location}}</h5>
			
			<div type="button" data-toggle="modal" data-target="#jobModal{{id}}">
			<span class="corner-icon glyphicon glyphicon-pencil"></span>
		</div>
		</div>
		{{/each}}

		<div class = "col-md-3" id="new-job-tile">
				<div class = "col-md-3">
					<div type="button" data-toggle="modal" data-target="#jobModalNew">
						<span class="giant-icon glyphicon glyphicon-plus-sign"></span>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

{{#each data.Jobs}}
<div id="jobModal{{id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <form class = "tile-form" action="/job/update" method="POST">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
				<input class = "title-input" type="text" name = "title" value="{{title}}">
				<br>
				<input class = "location-input" type="text" name = "location" value="{{location}}">
				<input type="hidden" name = "id" value="{{id}}">
	      </div>
	      <div class="modal-body">
	      <h4>Description: </h4><textarea name="description">{{{description}}}
	      </textarea>
	      <h4>Responsibilities:</h4> <textarea name="responsibilities">{{{responsibilities}}}
	      </textarea>
	      <h4>Qualifications:</h4> <textarea name="qualifications">{{{qualifications}}}
	      </textarea>
	      </div>
	    
      <div class="modal-footer">
      	<span>
	  	
		        <button class = "tile-save" type="submit">
			        <span class= "glyphicon glyphicon-floppy-disk">
			        	<p class="tiny-text">SAVE</p>
			        </span>
		        </button> 
		    </form>
		    	<form class = "tile-delete-form" action="/job/delete/{{id}}" method="POST">
					<button class = "tile-delete" type="submit">
						<span class= "glyphicon glyphicon-trash">
							<p class="tiny-text">DELETE</p>
						</span>
					</button>
				</form>
		</span>
      </div>
    </div>

  </div>
</div>
		
{{/each}}

<div id="jobModalNew" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		      <form action="/job/new" method="POST">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
						<input class = "title-input" type="text" name = "title" value="Role Here">
						<br>
						<input class = "location-input" type="text" name = "location" value="Location Here">
			      </div>
			      <div class="modal-body">
				      <h4>Description: <h4><textarea name="description">{{{description}}}
				      </textarea>
				      <h4>Responsibilities:</h4> <textarea name="responsibilities">{{{responsibilities}}}
				      </textarea>
				      <h4>Qualifications:</h4> <textarea name="qualifications">{{{qualifications}}}
				      </textarea>
			    <input type="hidden" name = "company_id" value={{user.Company.id}}>
			    <input type="hidden" name = "industry_id" value=1>
			    </div>
			    
		      <div class="modal-footer">
		        	  	
		        <button class = "tile-save" type="submit">
			        <span class= "glyphicon glyphicon-floppy-disk">
			        	<p class="tiny-text">SAVE</p>
			        </span>
		        </button> 
		        </form>
<!-- 		        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
		       -->
		      </div>
		    </div>

		  </div>
		</div>


