
<div class = "container">
	<h1>Welcome, {{name}}</h1>
	<div class = "row">
		<div class = "col-md-5">
			<div>
				<form>

				{{name}}

				{{email}}

				{{location}}

				</form>
			</div>
		</div>
		<div class = "col-md-5">
			<div>
				<img src="{{img}}">
			</div>
		</div>

	</div>

</div>

